html,body{
    font-family:"Times New Roman", Times, sans-serif;
    text-align:center;
    min-width:260px;
    color:#F4F4F2;
  }
  #main{
    margin:30px auto;
    padding:10px;
    border:0px solid;
    border-radius:5px;
    background: black;
    color:#F4F4F2;
  
  }
  
  h1 {
    font-size: 32px;
  }
  img{
    max-width: 100%;
    display: block;
    height:auto;
    margin:auto;
  }
  #img-div{
  margin:-5px;
    margin-top:20px;
    width:100%;
    border:5px solid black;
    background:white;
  }
  #img-caption{
    margin:10px;
  }
  #headline{
    margin-top:50px;
    text-align:center;
    text-decoration: underline;
  }
  
  #tribute-info{
    background-color:#F4F4F2;
    color:black;
    padding:10px;
  }
  
  ul{
    max-width:550px;
    margin:0 auto;
    text-align:left;
  }
  li{
    margin: 10px;
    font-size: 24px;
  }
  blockquote{
    font-style: italic;
    font-size: 24px;
    text-align: center;
  }